.App {
  font-family: sans-serif;
  text-align: center;
}

.btn-test {
  display: block;
  height: 40px;
  margin: 30px;
  width: 100px;
}

.selected-item {
  border: 1px solid #c9c9c9;
  float: right;
}

.users-list {
  float: left;
}

.users {
  display: flex;
  width: 100%;
}

.text-bio {
  height: 100px;
  margin: 20px;
  width: 400px;
}

.profile-pic {
  display: block;
  height: 250px;
  margin: 20px;
  width: 250px;
}

.btn-right {
  background: #cccc;
  float: left;
}

.btn-list {
  display: block;
}